mixin cards(artist={})
     
  div(class="item")
    div(class="image-container")
      img(src=artist.images.url, alt="")
      p #{artist.name}
      a(href=`/albums/${artist.id}`)
        button(class="item-btn") View Albums