@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,700&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  /* background-color: blue; */
}

/* HOME VIEW STYLES */
.all-form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("https://storage.googleapis.com/pr-newsroom-wp/1/2019/08/SUMMER-SONIC-HEADER.jpg");
  background-size: cover;
}

.form-container {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  background-color: rgba(255, 255, 255, 0.712);
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

form input {
  width: 80%;
  height: 2em;
  margin: 5%;
  font-family: Montserrat;
  font-size: 100%;
}

form button {
  height: 3em;
  width: 40%;
  border-radius: 40px;
  background-color: rgb(219, 185, 33);
  border: 1px solid rgb(219, 185, 33);
  font-family: Montserrat;
  font-size: 100%;
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 100%;
}

/* ARTISTS VIEW STYLES */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 1%;
}

.all-artist-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 100%; */
  background-color: rgba(255, 81, 0, 0.308);
}

.item-btn {
  height: 2.5em;
  width: 100%;
  border-radius: 40px;
  background-color: rgb(219, 185, 33);
  border: 1px solid rgb(219, 185, 33);
  font-family: Montserrat;
  font-size: 85%;
}

.item {
  margin: 4% 1.66%;
  flex: 0 0 30%;
}

.image-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* height: 78%; */
}

.image-container img {
  max-width: 100%;
}

.all-album-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* height: 100%; */
  background-color: rgba(0, 153, 255, 0.308);
}

.all-tracks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: rgba(145, 255, 0, 0.151);
}

.track-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 2%;
  border-bottom: 1px solid gray;
}