<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Iron-spoty
    link(type="text/html" rel="stylesheet", href="/public/styles.css")
  body
    block content
    h1 Express spoty
      form(action="/artist" method="POST" )
        input(type="text" name='artist' placeholder="search for an artist")
        button(type="submit" value="submit") Search Artistx